<li class="dropdown">
  <div style="display:inline-block;">
    <a class="dropdown-toggle" data-toggle="dropdown">
    {{#if audio_player.playingTrack}}
      <img src="{{audio_player.playingTrack.thumbnail}}" alt="album-art" width=40 height=40 />
    {{else}}
      <img src="/img/no-music.png" alt="album-art" width=40 height=40 />
    {{/if}}
    </a>
    <ul class="dropdown-menu dropdown-messages">
      {{track-view}}
        <li>
          {{#link-to 'playlists' class="text-center"}}
                <strong>See more details</strong>
                <i class="fa fa-angle-right"></i>
          {{/link-to}}
        </li>
    </ul>
  </div>
  <div style="display: inline-block;vertical-align: middle;">
      <button type="button" class="btn btn-default btn-circle"><i class="fa fa-backward fa-fw" {{action 'previous'}}></i></button>
      {{#if audio_player.isPaused}}
        <button type="button" class="btn btn-default btn-circle"><i class="fa fa-play fa-fw" {{action 'play'}}></i></button>
      {{else if audio_player.isPlaying}}
        <button type="button" class="btn btn-default btn-circle"><i class="fa fa-pause fa-fw" {{action 'pause'}}></i></button>
      {{else}}
        <button type="button" class="btn btn-default btn-circle"><i class="fa fa-stop fa-fw" {{action 'stop'}}></i></button>
      {{/if}}
      <button type="button" class="btn btn-default btn-circle"><i class="fa fa-forward fa-fw" {{action 'next'}}></i></button>
    <div style="height: 3px;margin: 4px 4px;" class="progress progress-striped active">
        <div class="progress-bar" role="progressbar" style="background-color: #383838; width: {{audio_player.playerDurationPercent}}%" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</li>
