{{#if search.isLoading}}
  <img src="/img/loading.gif" alt="Loading..." width="80" height="80" />
{{else}}

  <div>
    <h3>ARTIST</h3>
    {{#each listSearchArtistsResultsDisplayed as |artist|}}
      <div>
        {{search-artist-item model=artist}}
      </div>
    {{else}}
      <h3>No result found</h3>
    {{/each}}
  </div>
  <div style="clear:both"></div>
  <div>
    <h3>ALBUM</h3>
    {{#each listSearchAlbumsResultsDisplayed as |album|}}
      {{search-album-item model=album}}
    {{else}}
      <h3>No result found</h3>
    {{/each}}
  </div>
  <div style="clear:both"></div>

  <div>
    <h3>TRACK</h3>
    {{#each listSearchTacksResultsDisplayed as |track|}}
      {{search-item model=track}}
    {{else}}
      <h3>No result found</h3>
    {{/each}}
  </div>
{{/if}}
